.App {
  max-width: 600px;
  margin: 0 auto;
}




.App footer {
  font-size:13px;
  padding-top: 15px;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
